@keyframes load {
    from{
        transform: scale(.2);
    }

    to{
        transform: scale(1);
    }
}
@keyframes load1 {
    from{
        transform: scale(.8);
    }

    to{
        transform: scale(1);
    }
}